---
export interface Props {
  car: {
    id: number;
    brand: string;
    model: string;
    body: string;
    engine: string;
    image_src: string;
    slug: string;
  };
}

const { car } = Astro.props;
---

<li class="car-card">
  <h2 transition:name={`title_${car.model}`}>
    {car.brand}
    {car.model}
  </h2>
  <p>
    {car.body} — {car.engine}
  </p>
  <a href={`/cars/${car.slug}`}>More</a>
  <img src={car.image_src} transition:name={`img_${car.model}`} />
</li>
