---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const { limit } = Astro.props;
const winners = await getCollection("winners");

const visibleWinners = limit
  ? winners.slice(-limit).reverse()
  : winners.slice().reverse();
---

<ul
  class="grid auto-rows-max gap-y-section-md gap-x-svw grid-cols-[repeat(auto-fit,minmax(min(100%,18rem),1fr))]"
>
  {
    visibleWinners.map((item) => (
      <li class="flex flex-col ">
        <h2 class="text-2xl mb-0 leading-tight text-pretty">
          {item.data.name} from {item.data.country} &mdash; Winner of{" "}
          {item.data.model}
        </h2>
        <date class="text-pretty opacity-70 mb-4">
          {new Date(item.data.date).toLocaleDateString()}
        </date>
        <a
          href={item.data.drawLink}
          target="_blank"
          rel="noopener"
          class="block justify-self-start mt-auto border rounded-md text-center py-3 px-6"
        >
          Draw #{item.id} Certificate →
        </a>
        <Image
          class="aspect-square -order-1 mb-4"
          src={item.data.photo}
          alt={`Photo of ${item.data.model} with the watch ${item.data.model} he won`}
        />
      </li>
    ))
  }
</ul>
