---
import { supabase } from "@lib/supabase";
import Layout from "@layouts/Layout.astro";

const { data: vehicles, error } = await supabase.from("vehicles").select("*");
// .select("slug, brand, model, body, description, engine")
// .limit(20);

if (error) {
  throw new Error(error.message);
}
---

<Layout title="cars" description="Description about Lux Watches">
  <main>
    <h1>Cars</h1>
    <ul>
      {
        vehicles.map((car) => (
          <li>
            <h2>
              {car.brand} {car.model}
            </h2>
            <p>
              <strong>Body:</strong> {car.body}
            </p>
            <p>
              <strong>Engine:</strong> {car.engine}
            </p>
            <p>{car.description}</p>
            <a href={`/cars/${car.slug}`}>Ыууууууу</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
