---
import { supabase } from "@lib/supabase";
import Layout from "@layouts/Layout.astro";

const { data: vehicles } = await supabase
  .from("vehicles")
  // .select("*")
  .select("id, brand, model, body, engine, image_src")
  .not("image_src", "is", null)
  .limit(20);

const { data: brands } = await supabase
  .from("brands")
  .select("id, name")
  .order("name", { ascending: true });
---

<Layout>
  <main class="wrapper px-7 py-20">
    <h1 class="text-3xl mb-[1em]">All cars</h1>

    <section>
      <form id="filter-form">
        <select name="brand">
          <option value="">All brands</option>
          {
            brands?.map((brand) => (
              <option value={brand.name}>{brand.name}</option>
            ))
          }
          <!-- <option value="Toyota">Toyota</option>
          <option value="BMW">BMW</option> -->
        </select>

        <select name="engine">
          <option value="">Все двигатели</option>
          <option value="gas">Gas</option>
          <option value="hybrid">Hybrid</option>
        </select>

        <button type="submit">Фильтровать</button>
      </form>

      <ul class="grid" id="car-list">
        {
          vehicles?.map((car) => (
            <li class="car-card">
              <h2>
                {car.brand} {car.model}
              </h2>
              <p>
                {car.body} — {car.engine}
              </p>
              <img src={car.image_src} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>

  <script>
    import { actions } from "astro:actions";

    document
      .getElementById("filter-form")
      ?.addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData(e.target as HTMLFormElement);
        const brand = (formData.get("brand") as string) || "";
        const engine = (formData.get("engine") as string) || "";

        try {
          const { data: cars } = await actions.filterCars({ brand, engine });

          // Обновляем список
          const carList = document.getElementById("car-list");
          if (carList && cars) {
            carList.innerHTML = cars
              .map(
                (car) => `
            <li class="car-card">
              <h2>${car.brand} ${car.model}</h2>
              <p>${car.body} — ${car.engine}</p>
            </li>
          `
              )
              .join("");
          }
        } catch (error) {
          console.error("Ошибка:", error);
        }
      });
  </script>
</Layout>
