---
import { supabase } from "@lib/supabase";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const { data: vehicles, error } = await supabase
    .from("vehicles")
    .select("slug");

  if (error) throw new Error(error.message);

  return (
    vehicles?.map((car) => ({
      params: { slug: car.slug },
    })) || []
  );
}

const { params } = Astro;
const { data: car, error } = await supabase
  .from("vehicles")
  .select("*")
  .eq("slug", params.slug)
  .single();

if (error || !car) {
  throw new Error("Car not found");
}
---

<Layout title={car.title} description="Details about the car">
  <main class="wrapper px-7 py-20">
    <h1 class="text-3xl mb-[1em]" transition:name={`title_${car.model}`}>
      {car.brand}
      {car.model}
    </h1>
    <img src={car.image_src} transition:name={`img_${car.model}`} />
    <section>
      <p><strong>Body:</strong> {car.body}</p>
      <p><strong>Engine:</strong> {car.engine}</p>
      <p>{car.description}</p>
    </section>
  </main>
</Layout>
